# requirements file for pip. This builds an environment which can be
# used for dataset work on RDF and fairseq/torch model training/evaluating
torchaudio
torch
torchvision
tqdm
rdflib
scikit-learn
fairseq
